{% extends 'tour/base.html'%}


{% block content %}
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                 <img src="https://cdn-icons-png.flaticon.com/512/5065/5065208.png"
                  class="img-fluid" alt="Sample image">
             </div>

             <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <h3 class="text-center"><b>About us</b></h3>
                <hr class="p-2">
             <!--contact -->
             <div class="form-outline mb-4">
                <div class="text-center">
                    <h4><strong> Abdullah Alobaid </strong></h4>
                    <p></p>
                    

                </div>
                <div class="form-outline mb-4">
                    <div>
                        <p>Website built by a Student in <b>TUWAIQ Academy</b> Python and Web development Bootcamp for final project
                            to help people book for their next vacation</p>
                        
                        <p>For any questions or inquiries please contact me through Email, Github or Linkedin </p>
                    </div>
                    <div class="text-center ">
                    
                        <a href="mailto:a.fahad9@outlook.com"><i class="fa fa-envelope p-2" style="font-size:24px"></i></a>
                        <a href="https://linkedin.com/in/abdullah-alobaid9"><i class="fa fa-linkedin p-2"  style="font-size:24px"></i></a>
                        <a href="https://github.com/AbdullahAlobaid9"><i class="fa fa-github p-2"  style="font-size:24px"></i></a>
                    
                    </div>
                <hr>
                
              </div>
        </div>
    </div>
{% endblock %}