{% extends 'tour/base.html' %}

{%block custom_card %}

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    background:transparent;
  }

  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }

  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }

  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }

  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }

  .title-white {
    color: white;
  }

  .title-black {
    color: black;
  }

  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }


{% endblock %}


{% block content %}
<div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner mt-5">
      <div class="carousel-item active">
        <img src="https://images.pexels.com/photos/2859169/pexels-photo-2859169.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="carousel-img opacity-50 " >
        <div class="carousel-caption d-none d-md-block text-black  ">
          <h5>Welcome to Touravel where you can easily choose you next trip !</h5>
          <hr>
          <p><a class="btn btn-outline-dark" href="{% url 'tourApp:about_page'%}">Click here to Learn more about us</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.pexels.com/photos/8828439/pexels-photo-8828439.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="carousel-img opacity-50 " >
        <div class="carousel-caption text-black  ">
          <h5>Plan your next trip with a click of a button</h5>
          <hr>
          <p><a class="btn btn-outline-dark" href="{% url 'tourApp:book_tour' %}">book a tour now!</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.pexels.com/photos/691637/pexels-photo-691637.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="carousel-img opacity-50 " >
        <div class="carousel-caption d-none d-md-block text-black ">
          <h5>Join us now and become a Tourists guide ! </h5>
          <hr>
          <p><a class="btn btn-outline-dark" href="{% url 'accounts:guide_register' %}"> Join now !</a></p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!--first carousel for slideshow-->
  <div class="mt-3">
  <h2 class="text-center">Recommended places to visit</h2>
  </div>
  <div class="cards-list">  

    <div class="card 1">
      <div class="card_image"> <img src="https://i.ytimg.com/vi/7ys5nycrQIw/maxresdefault.jpg" /> </div>
      <div class="card_title title-white">
        <p><a class="title-white" href="http://127.0.0.1:8000/place/detail/14/">Winter Wonderland in Riyadh</a></p>
      </div>
    </div>
    
      <div class="card 2">
      <div class="card_image">
        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/7f/e1/d8/the-world-s-largest-mirrored.jpg?w=1000&h=-1&s=1" />
        </div>
      <div class="card_title title-white">
        <p><a class=" title-white" href="http://127.0.0.1:8000/place/detail/15/">Maraya in Al'Ula</a></p>
      </div>
    </div>
    
    <div class="card 3">
      <div class="card_image">
        <img src="https://www.aleqt.com/sites/default/files/styles/scale_660/public/a/743216_259525.jpg?itok=VXdGYuy_" />
      </div>
      <div class="card_title title-white">
        <p><a class="title-white" href="http://127.0.0.1:8000/place/detail/13/"> Al Samra mountain in Ha'il</a></p>
      </div>
    </div>
    </div>
{% endblock %}