{% extends 'tour/base.html' %}


{% block comment %}

<div class="container">
    <div class="row bootstrap snippets bootdeys">
        <div class="col-md-12 col-sm-12">
            <div class="comment-wrapper">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Review Section
                    </div>
                    <div class="panel-body">
                        <textarea class="form-control" placeholder="write a review..." rows="3"></textarea>
                        <br>
                        <button type="button" class="btn btn-secondary">Post</button>
                        <div class="clearfix"></div>
                        <hr>
                        <ul class="media-list">
                            <li class="media">
                                <a href="#" class="pull-left">
                                    <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                </a>
                                <div class="media-body">
                                    <span class="text-muted pull-right">
                                        <small class="text-muted">30 min ago</small>
                                    </span>
                                    <strong class="text-success">@Abdullah</strong>
                                    <p>
                                        Testing Review section 1
                                    </p>
                                </div>
                            </li>
                            <li class="media">
                                <a href="#" class="pull-left">
                                    <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                </a>
                                <div class="media-body">
                                    <span class="text-muted pull-right">
                                        <small class="text-muted">30 min ago</small>
                                    </span>
                                    <strong class="text-success">@Suliman</strong>
                                    <p>
                                        Testing Review section 2
                                    </p>
                                </div>
                            </li>
                            <li class="media">
                                <a href="#" class="pull-left">
                                    <img src="https://bootdey.com/img/Content/user_3.jpg" alt="" class="img-circle">
                                </a>
                                <div class="media-body">
                                    <span class="text-muted pull-right">
                                        <small class="text-muted">30 min ago</small>
                                    </span>
                                    <strong class="text-success">@Mohsen</strong>
                                    <p>
                                        meh could've been better -.- 
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    </div>

{% endblock %}